@charset "UTF-8";
@font-face {
  font-family: 'browser';
  src: url("fonts/browser.eot?-xa24nj");
  src: url("fonts/browser.eot?#iefix-xa24nj") format("embedded-opentype"), url("fonts/browser.woff?-xa24nj") format("woff"), url("fonts/browser.ttf?-xa24nj") format("truetype"), url("fonts/browser.svg?-xa24nj#browser") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 16, style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'browser';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, style.scss */
.icon-chrome:before {
  content: "\e600";
}

/* line 33, style.scss */
.icon-IE:before {
  content: "\e601";
}

/* line 36, style.scss */
.icon-firefox:before {
  content: "\e602";
}

/* line 39, style.scss */
.icon-safari:before {
  content: "\e603";
}

/* line 42, style.scss */
.icon-opera:before {
  content: "\e604";
}

/* line 46, style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 52, style.scss */
body {
  font: 1rem/2 "Open Sans", Arial, Helvetica, sans-serif;
  color: #333;
  background: #fff;
}

/* line 58, style.scss */
pre {
  background: #333;
  overflow-x: scroll;
}
/* line 61, style.scss */
pre code {
  width: 100%;
  text-align: none;
}

/* line 66, style.scss */
code {
  background: #333;
  padding: .25em .5em;
  color: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 73, style.scss */
span {
  font-size: .8em;
}
/* line 75, style.scss */
span:before {
  font-size: 1.5em;
}

/* line 80, style.scss */
section, footer {
  display: block !important;
}

/* line 84, style.scss */
.center {
  width: 100%;
  max-width: 50em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* IE doesn't like this way of centering stuff so we reset everything
     to prevent the demo from being broken in IE.
     This targets IE6-10.
  */
  position: relative\9;
  top: 0\9;
  left: 0\9;
}

/* line 101, style.scss */
hr {
  width: 100%;
  height: 1px;
  border: none;
  background: #fff;
  margin: .5em 0;
}

/* line 109, style.scss */
.intro, .support, .free, .usage, .footer, .ch-1, .ch-2, .ch-3 {
  position: relative;
}

/* line 113, style.scss */
.love {
  color: #ff3333;
  font-size: 1.2em;
}

/* line 118, style.scss */
.intro {
  text-align: center;
  background: #12ddac;
  height: 100vh;
  width: 100%;
}

/* line 126, style.scss */
.support {
  background: #ddd;
  padding: 5em;
  height: 100vh;
  width: 100%;
}

/* line 135, style.scss */
.free {
  background: #cdff99;
  height: 100vh;
  width: 100%;
}

/* line 142, style.scss */
.usage {
  background: #ff9900;
  height: 100vh;
  width: 100%;
}

/* line 149, style.scss */
.footer {
  background: #A5DE37;
  height: 50vh;
  width: 100%;
}

/* line 156, style.scss */
.ch-1 {
  background: #333;
  color: #ddd;
  height: 30vh;
}

/* line 163, style.scss */
.ch-2 {
  background: #FD6631;
  height: 66vh;
}

/* line 169, style.scss */
.ch-3 {
  background: #1B9AF7;
  color: #fff;
  height: 15vh;
}

/* line 178, style.scss */
button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: .5em 1em;
}
/* line 183, style.scss */
button:hover, .button:hover {
  cursor: pointer;
}

/* line 188, style.scss */
.button__download {
  position: relative;
  margin: 1em 0;
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1b9af7), color-stop(100%, #3498db));
  background: -webkit-linear-gradient(top, #1b9af7, #3498db);
  background: -moz-linear-gradient(top, #1b9af7, #3498db);
  background: -o-linear-gradient(top, #1b9af7, #3498db);
  background: linear-gradient(top, #1b9af7, #3498db);
}
/* line 196, style.scss */
.button__download:before, .button__download:after {
  position: absolute;
  top: 0;
}
/* line 200, style.scss */
.button__download:after {
  content: '';
  width: 2em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  border-left: 1px solid #217dbb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1b9af7), color-stop(100%, #3498db));
  background: -webkit-linear-gradient(top, #1b9af7, #3498db);
  background: -moz-linear-gradient(top, #1b9af7, #3498db);
  background: -o-linear-gradient(top, #1b9af7, #3498db);
  background: linear-gradient(top, #1b9af7, #3498db);
}
/* line 211, style.scss */
.button__download:before {
  content: '›';
  font-size: 2em;
  line-height: 1;
  left: 100%;
  top: 50%;
  width: 1em;
  height: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
/* line 223, style.scss */
.button__download:nth-child(even) {
  margin-left: 5em;
}
